@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-normal-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* navbar related styles */
 nav ul li{
    list-style: none;
 }
 .nav-bar{
    display: flex;
    justify-content: space-around;
    /* border-bottom: 2px none solid orange; */
 }
 .nav-link{
    text-decoration: none;
 } 
 /* nav ul li a {
    text-transform: uppercase; */
 .nav-title{
    margin-left: 11px;
 }
 .nav-item{
    margin-right: 32px;
 }
 .nav-home{
    color: orange;
 }
 .nav-about{
    color: #01ACFD;
 }
 .nav-fact{
    color: #05D4DF;
 }
 .nav-add{
    color: #5D58EF;
 }
 .btn-primary{
    color: white;
    background-color: orange;
    border-radius: 12px;
    padding: 10px 61px;
    border: none;
 }
 .checkbtn{
    color: black;
    font-size: 30px;
    cursor: pointer;
    display: none;
 }
 #check {
    display: none;
  }
  /* banner related style */

  .banner-heading{
    font-size: 3.5rem;
    font-weight: 700;
  }
  .banner-description{
    font-size: 1.25rem;
    font-weight: 400;
  }
  .btn-secondary{
    color: white;
    background-color: black;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
  }
  #empower{
    color: orange;
  }
  #vision{
    color: #01ACFD;
  }
  .banner{
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .banner-img{
    max-width: 465px;
  }
  .banner-title{
    max-width: 630px;
    margin-right: 50px;
  }
  .banner-img{
    width: 100%;
  }
/* shared styles */

  /* border: 1px solid red; */

body{
  border: 2px dashed green;
}
.display-flex{
    display: flex;
}
.header-section{
    margin: 20px auto;
}
/* section related style */
.curriculum{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 29px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.section-heading{
    text-align: center;
    font-size: 2.85rem;
    font-weight: 700;
}
.standard{
    max-width: 1170px;
    margin: 0 auto;
    background-image: url(../assets/bg.png);
}
.kinder , .elementary,.middle{
    text-align: center;
    padding: 55px 40px;
    border-radius: 19px; 
}
.kinder{
    background-image:linear-gradient(#DEF5FF,#FFFFFF);
    border: 1px solid#64C8FF;
}
.elementary{
    background-image:linear-gradient(#F7DB95,#FFFFFF);
    border: 1px solid#F0AA00;
}
.middle{
    background-image:linear-gradient(#F2E8FF,#FFFFFF) ;
    border:1px  solid#8700FF;
}
/* button related styles */
.btn-kinder{
    color: #64C8FF;
    text-decoration: none;
}
.bg-image{
  background-image: url(../assets/bg.png);
}
.btn-element{
    color: #F0AA00;
    text-decoration: none;
}
.btn-middle{
    color: #8700FF;
    text-decoration: none;
}
.storybtn-1{
  color: white;
  background-color: #3CD8E8;
  border-radius: 47.93px;
  padding: 15px 18px;
  border: none;
}
.kids-01{
  margin-top: -25px;
  margin-left: 38px;
}
.kids-02{
  margin-top: -25px;
  margin-left: 39px;
}
.storybtn-2,.storybtn-4,.storybtn-5{
  color: #FFFFFF;
  background-color: #95B226;
  border-radius: 47.93px;
  border: none;
  padding: 10px 19px;
  /* margin-bottom: -90px; */
}
.storybtn-3{
  color: #FFFFFF;
  background-color: #5D58F0;
  border-radius: 47.93px;
  border: none;
  padding: 10px 19px;
}
.checked{
    color: orange;
}
.btn-view{
  text-align: center;
  justify-content: center;
  margin: 80px auto;
  align-items: center;
}
.circle{
    text-align: center;
    margin: 80px auto;
}
.stories{
  content: relative;
  background-image: url(../assets/bg.png),linear-gradient(white, rgba(247, 219, 149, 1));
}
  
}
/* .stories::before{
  background: linear-gradient(to bottom rgb(243, 243, 243), rgba(172, 177, 38, 0.968));
  z-index: 1;
}
.stories::after{
  background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3));
  z-index: 2; */
}
/* linear-gradient(#FFFFFF,rgba(247, 219, 149, 1)) */
/* story related styles */
.story01-heading{
  font-size: 1.5rem;
  font-weight: 700;
}
.stories{
  max-width: 1160px;
  margin: 60px auto;
}
.standard-heading,.stories-heading{
  font-weight: 700;
  font-size: 2.85rem;
  text-align: center;
}
.stories-card01{
  max-width: 541px ;
  /* padding: 58px 38px 35px 38px; */
  }
.stories-content{
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: repeat(2,2fr);
  /* max-width: 601px; */
  gap: 19px; 
  background-color: #FFFFFF;
  max-width: 540px;
  border-radius: 16px;
}
/* .story-1{
  width: 100%;
} */
.four-stories{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 19px ;
  margin: 0 auto;
  width: 100%;
  /* margin-right: 19px ; */
}
.stories-card{
  max-width: 290px;
  border-radius: 16px;
  background-color: #FFFFFF;
  /* padding: px; */
  max-height: 300px;
  width: 100%;
  text-align: normal ;
}
.stories-p{
  font-size: 1rem;
  font-weight: 700;
  padding-left: 38px;
  padding-bottom: 33px;
}
.story-1{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.footer-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #01ACFD;
  max-width: 1160px;
  margin: 0 auto;
  justify-content: space-evenly;
  color: white;
}
footer{
  margin: 0px auto;
}
footer ul{
 list-style:none ;
align-items: right;

}
footer ul li a{
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}
.education-header{
max-width: 400px;
/* margin: 0 30px; */
}
.footer-about{
  font-size: 1.5rem;
  font-weight: 700;
}
.touch-icon{
  font-size: 1.625rem;
}

@media screen and (max-width : 576px) {
    .checkbtn {
        display: block;
        order: 1;
        /* margin-right: 20px; */
      }
      /* ul {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color:white;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
      } */
    .nav-title,.nav-links, .btn-primary{
        display: none;

    }
    .nav-bar {
      border: 1px solid orange;
      border-top: none;
        box-sizing: border-box;
    }
    ul li {
        margin: 20px 0;
      }
      ul li a {
        font-size: 20px;
      }
       #check:checked ~ ul {
        right: 0;
      } 
      .banner{
        flex-direction: column-reverse;
      }
      .banner-title{
        text-align: center;
      }
      .curriculum{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto 10%;
    }
        .circle,.stories-card01{
            display:none;
        }
        .four-stories{
          display: grid;
          justify-items: center;
          grid-row-gap: 11px;
          margin: 0 auto;
          max-width: 170px;
         }
         .story-1{
          width: 100%;
        }
        .btn-view{
          text-align: center;
          justify-content: center;
          margin: 80px auto;
          align-items: center;
        }
          .kids-02{
            margin-top: -25px;
            margin-left: 20px;
          }
          .footer-section{
            display: grid;
            grid-template-columns: repeat(1,3fr)
          }
         .stories-card{
          /* max-width: fit-content; */
         }
}